@tailwind base;
@tailwind components;
@tailwind utilities;

/* TAILWIND CSS EXTENSIONS */
@layer components {
  .webkit-appearance-none {
    -webkit-appearance: none;
  }
}
/* -- */

:root {
  font-family: "Plus Jakarta Sans", Outfit, system-ui, Avenir,
    Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* fixes the i in Ko-fi */
  font-variant: no-common-ligatures;
}

body {
  margin: 0;
  display: flex;
  /* min-width: 320px; */
  min-width: 1px;
  min-height: 100vh;
}
